flatbuffers
protobuf<4,>=3.20.2
sympy
traitlets
ipython
matplotlib-inline
PyWavelets
scipy
ftfy
imagecodecs
modelcards
bitsandbytes
datasets
omegaconf
accelerate
transformers
diffusers
Flask 
Flask-RESTful 
Pillow 
requests